*{
    background-color:rgba(255,247,240,255);
}
.one {
    background-color:white ;
    border: black;
    border-style: solid;
    border-width: thin;  
    padding: 5px; 
    margin: 5px;
}
.two {
    background-color:white ;
    border: black;
    border-style:dashed;
    border-width: thin;
    padding: 5px; 
    margin: 5px;
}
.three{
    color:rgba(148,40,130,255);
    background-color:white ;
    border: black;
    border-style: solid;
    border-width: thin;
    padding: 5px; 
    margin: 5px;
}
.two-two{
    border-width:medium;
    border-color:red;
    border-style: dashed;
}
p  {
    background-color:white ;
}
h2 {
    background-color:white ;
}
samp {
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    background-color: #fdca96;
}
.one-two{
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    background-color: #fdfd96; 
}